[Unit]
Description=Ollama Local AI
After=network-online.target

[Container]
Image=docker.io/ollama/ollama:latest
ContainerName=ollama
Network=ai-net

PublishPort=11434:11434

Volume=%h/ollama:/root/.ollama

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target