[Unit]
Description=Chimera Discord Bot
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=chimera
Image=ghcr.io/baguettejet/chimera:latest
AutoUpdate=registry

WorkingDir=/app

EnvironmentFile=%h/discord-bots/chimera/.env
Volume=%h/discord-bots/chimera/data:/app/data

# fix terminal colour and run main script
Exec=/usr/bin/script -qe -c "python -u bot.py" /dev/null

[Service]
Restart=on-failure

[Install]
WantedBy=default.target